
p {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

body{
  background-image: url('https://wallpapercave.com/wp/wp2284535.jpg');
  color: white;
  overflow: visible;
}

ul {
  display: flex;
  flex-wrap: grid;
  list-style-type: none;
  
}

li {
  height: 40vh;
  flex-grow: 1;
}

img {
  max-height: 80%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.content{
  margin-top: 50%;
}

.container{
  display: flex;
}

.left{
  flex: .5;
  margin-top: 20%;
  margin-left: 5%;
}

.right{
  flex: .5;
  margin-left: 10%;
  
}

.active{
  right: 0;
}

.imgContainer{
  background-color: aliceblue;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}