
p {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

body{
  background-image: url('https://wallpapercave.com/wp/wp2284535.jpg');
  color: white;
}

.content{
  margin-top: 50%;
}

img{
  width: 70%;
}

.container{
  display: flex;
}

.left{
  flex: .5;
  margin-top: 20%;
  margin-left: 5%;
}

/* .insideLeft{
  justify-content: center;
  align-items: center;
} */

.right{
  flex: .5;
  margin-left: 10%;
  
}

